.DS_Store
.config.*.json
.config.nodes.json.backup
.config.users.json.backup
.sessions.json
.config.users.json
.node-red
lib/
node_modules/
flows/*_cred.json
flows/.flows.json.backup
flows/.main.json.backup
